<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>BIENVENIDO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="welcome-animation">
    <h1>Bienvenido</h1>
  </div>

  <ion-card>
    <ion-card-header>
      <img src="assets/img/Black___White_Letter_MD_Logo_Instagram_Post-removebg-preview (1).png" alt="Logo" class="logo-img">
    </ion-card-header>
  </ion-card>

  <ion-card class="form-container">
    <ion-card-content>
      <br>

      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input type="email" required [(ngModel)]="user.email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" required [(ngModel)]="user.password"></ion-input>
      </ion-item>
      
      <ion-button class="ion-padding" color="success" (click)="login(user)">INGRESAR</ion-button>
      <ion-button class="ion-padding" color="success" [routerLink]="['/register']">REGISTRAR</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
