// Estilos para la clase "ion-padding"
.ion-padding {
    // Agrega tus estilos personalizados aquí
    // Por ejemplo:
    margin-top: 20px;
    padding: 15px;
    color:white
    
}

// Otros estilos para la página de inicio de sesión
// ...