<ion-content [fullscreen]="true">
  <!-- Logo -->
  <img src="assets/img/Black___White_Letter_MD_Logo_Instagram_Post-removebg-preview (1).png" alt="Logo" class="logo-img">

  <!-- Formulario de inicio de sesión -->
  <ion-card class="form-container">
    <ion-card-content>
      <br>

      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input type="email" required [(ngModel)]="user.email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" required [(ngModel)]="user.password"></ion-input>
      </ion-item>
      
      <ion-button class="ion-padding" color="success" (click)="login(user)">Inicio sesión</ion-button>

      <!-- Enlace de registro -->
      <div class="registration-prompt">
        <p>Aún no te has registrado? <a class="register-link" [routerLink]="['/register']">hazlo aquí</a>.</p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
