<c-carousel [animate]="false" transition="crossfade" [interval]="5000">
  <c-carousel-inner>
    <c-carousel-item *ngFor="let slide of slides">
      <img
        [src]="slide.src"
        alt="{{slide.title}}"
        class="d-block w-100"
        loading="eager"
      />
      <c-carousel-caption class="d-none d-md-block">
        <h3>
          <span class="title-green">{{slide.title.split(' ')[0]}}</span>
          <span class="title-white">{{slide.title.split(' ').slice(1).join(' ')}}</span>
        </h3>
        <p class="subtitle">{{slide.subtitle}}</p>
        <div class="buttons-container">
          <!-- Your buttons here -->
          <c-carousel-control [routerLink] caption="Anterior-" direction="prev"></c-carousel-control>
          <c-carousel-control [routerLink] caption="Siguiente" direction="next"></c-carousel-control>
        </div>
      </c-carousel-caption>
    </c-carousel-item>
  </c-carousel-inner>
  
</c-carousel>
