<ion-header>
  <ion-toolbar>
    <ion-title>Supermercados Cercanos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ver supermercados cercanos</ion-card-title>
    </ion-card-header>

    
    <ion-card-content>
      <div class="supermercados-logos">
        <img src="assets/img/Ssanta.png" alt="Santa Isabel" class="logo-img">
        <img src="assets/img/Sekono.png" alt="Ekono" class="logo-img">
        <img src="assets/img/Sjumbo.png" alt="Jumbo" class="logo-img">
        <img src="assets/img/Stottus.jpg" alt="Tottus" class="logo-img">
        <img src="assets/img/Sunimarc.png" alt="Unimarc" class="logo-img">
        <img src="assets/img/Sacuenta.jpg" alt="Acuenta" class="logo-img">
        <img src="assets/img/Slider.png" alt="Lider" class="logo-img">
      </div>
      <ion-button expand="full" (click)="openGoogleMapSupermercados()">Abrir Supermercados</ion-button>
    </ion-card-content>
  </ion-card>

  
  <ion-card>
    <ion-card-content>
      <img src="assets/img/Ssanta.png" alt="Santa Isabel" class="logo-img">
      <ion-button expand="full" (click)="openGoogleMapsSantaIsabel()">Abrir Santa Isabel</ion-button>
    </ion-card-content>
  </ion-card>

  
  <ion-card>
    <ion-card-content>
      <img src="assets/img/Slider.png" alt="Lider" class="logo-img">
      <ion-button expand="full" (click)="openGoogleMapsLider()">Abrir Lider</ion-button>
    </ion-card-content>
  </ion-card>

 
  <ion-card>
    <ion-card-content>
      <img src="assets/img/Sjumbo.png" alt="Jumbo" class="logo-img">
      <ion-button expand="full" (click)="openGoogleMapsJumbo()">Abrir Jumbo</ion-button>
    </ion-card-content>
  </ion-card>

  
  <ion-card>
    <ion-card-content>
      <img src="assets/img/Sunimarc.png" alt="Unimarc" class="logo-img">
      <ion-button expand="full" (click)="openGoogleMapsUnimarc()">Abrir Unimarc</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
