/* Colores de fondo */
ion-content { 
  --background: linear-gradient(45deg, #ff5e62, #ff9966, #76c7c0, #2a5298, #1e3c72); 
  background-size: 200% 200%; /* Tamaño de fondo extendido para efecto de profundidad */
  height: 100%; /* ancho */
  position: relative; /* Para posicionar  */
}

/* Logo */
.logo-img {
  max-width: 80%; /* Tamaño  */
  height: auto; /* Mantiene posicion */
  display: block; /* Asegura que el logo no tenga márgenes adicionalesy lo mantiene a la izquierda */
}



/* Estilos para el mensaje de bienvenida */
.welcome-message {
  position: absolute;
  top: 0;
  right: -100%; 
  width: 100%;
  background-color: #28a745; 
  color: #000000; 
  text-align: center;
  padding: 10px;
  font-size: 1.2em;
  font-weight: bold;
  animation: slideInPauseOut 6s ease-out forwards; /* Duración total extendida */
}

/* Animación de deslizamiento, pausa y desaparición */
@keyframes slideInPauseOut {
  0% {
    transform: translateX(100%); 
    opacity: 0;
  }
  5% {
    transform: translateX(0); 
    opacity: 1;
  }
  55% {
    transform: translateX(0); 
  }
  75% {
    transform: translateX(-100%); 
  }
  100% {
    transform: translateX(-100%); 
    opacity: 0;
  }
}
