<ion-header>
  <div class="welcome-message">Bienvenido a la comunidad Check!</div>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <!-- Tu contenido existente aquí -->
  <img src="assets/img/Black___White_Letter_MD_Logo_Instagram_Post-removebg-preview (1).png" alt="Logo" class="logo-img">

  <div class="icons-container">
    <div class="icon-container">
      <img src="assets/img/compartir.png" alt="Compartir" class="icon">
    </div>
    <div class="icon-container">
      <img src="assets/img/configuracion.png" alt="Configuración" class="icon">
    </div>
    <div class="icon-container">
      <img src="assets/img/gastos.png" alt="Gastos" class="icon">
    </div>
    <div class="icon-container">
      <img src="assets/img/notificacion.png" alt="Notificación" class="icon">
    </div>
  </div>

  <div class="scan-image-container">
    <img src="assets/img/scanea.png" alt="Escaneo" class="scan-image">
  </div>
</ion-content>

<ion-footer>
</ion-footer>
