<ion-content [fullscreen]="true" class="ion-text-center">
  <ion-card-content>
    <app-carousel></app-carousel>
  </ion-card-content>
  <ion-button class="ion-padding" color="success" routerLink="login">Inicio sesión</ion-button>
  <ion-button class="ion-padding" color="success" routerLink="register">Registrate</ion-button>
</ion-content>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">inicio</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
