ion-content { 
    --background: black; 
    background-size: 200% 200%; 
    height: 100%; 
    position: relative; 
  }

ion-card {
    background-color: aliceblue;
}
.buttons-container {
  display: flex; 
  justify-content: space-between; 
  gap: 10px; 
}

ion-button.custom-button {
  display: block;
  flex: 1; 
  --background: #28a745;
  --border-radius: 12px; 
  font-weight: bold; 
  font-size: 16px; 
  color: #333; 
  text-align: center; 
}
