/* Colores de fondo */
ion-content { 
    --background: linear-gradient(45deg, #ff5e62, #ff9966, #76c7c0, #2a5298, #1e3c72); 
    background-size: 200% 200%; /* Tamaño de fondo extendido para efecto de profundidad */
    height: 100%; /* ancho */
    position: relative; /* Para posicionar  */
  }

ion-card {
    background-color: aliceblue;
}