/* colores de fondo */
ion-content { 
    --background: linear-gradient(135deg, #1e3c72, #2a5298, #76c7c0, #ff9966, #ff5e62); /* rama de colores */
    background-size: 200% 200%; /* Aumenta el tamaño del fondo para dar más profundidad */
    height: 100%; /* Asegura que abarque todo el contenedor */
}

/* animación logo palpitaciones de corazón */
.logo-img {
    display: block;
    margin: 40px auto;
    width: 250px;
    height: auto;
    animation: pulse-animation 2s infinite; /* Aplica la animación */
}

@keyframes pulse-animation {
    0% {
        transform: scale(1); /* Tamaño normal */
    }
    50% {
        transform: scale(1.1); /* Aumenta el tamaño */
    }
    100% {
        transform: scale(1); /* Tamaño normal */
    }
}

/* contenedor del formulario */
.form-container {
    --background: rgba(66, 66, 68, 0.8); /* Nivel de transparencia (80% opaco) */
    --border-radius: 16px; /* Bordes curvados */
    margin: 10px; /* Margen del contenedor por los lados */
    border-radius: 16px; /* Curvatura de los bordes */
}

/* contenedores de correo y contraseña */
ion-item {
    --border-radius: 8px; /* Bordes curvados para los contenedores */
    margin-bottom: 16px; /* Espacio inferior entre campos */
}





/* Estilo del botón registrarse y volver */
ion-button {
    display: block;
    width: 100%; /* El botón ocupa todo el ancho del contenedor */
    --background: #28a745; /* Color del botón */
    --border-radius: 50px; /* Bordes muy curvados para hacer el botón ovalado */
    font-weight: bold; /* Engrosa el texto del botón */
    font-size: 16px; /* Ajusta el tamaño del texto */
    --padding: 12px 24px; /* Ajusta el tamaño del botón para un buen aspecto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Opcional: agrega sombra para un efecto de elevación */
    text-align: center; /* Asegura que el texto esté centrado */
}
